bar {

    status_command i3status
    position top

    separator_symbol "|"
    separator_symbol " "

    bindsym button4 nop
    bindsym button5 nop
    font xft:Courier New 9.5 
    strip_workspace_numbers yes

    colors {
        background #3F0809
        statusline #F9FAF9
        separator  #0099cc
        #                  border  backgr.  text
        focused_workspace  #000000 #000000 #000000
        focused_workspace  #b2b3b2 #d8d9d8 #2B2C2B
        active_workspace   #000000 #000000 #000000
        active_workspace   #595B5B #353836 #FDF6E3
        inactive_workspace #000000 #000000 #000000
        inactive_workspace #595B5B #353836 #EEE8D5
        urgent_workspace   #595B5B #001a00 #FDF6E3
    }
}
