# Ignore everything!
*

# Configuration files and gitignore
!.gitignore
!.vimrc
!.zshrc

!/.config/
# qutebrowser
!/.config/qutebrowser/
!/.config/qutebrowser/qutebrowser.conf
!/.config/qutebrowser/keys.conf
# basic i3
!/.config/i3/
!/.config/i3/config
# termite
!/.config/termite/
!/.config/termite/config
# vim color config
!/.config/i3status/
!/.config/i3status/config
!/.config/i3status/contrib/
!/.config/i3status/contrib/*
# dunst
!/.config/dunst/
!/.config/dunst/*

# vim color config
!/.vim/
!/.vim/colors/
!/.vim/colors/corporation_modified.vim
!/.vim/colors/hybrid.vim
!/.vim/colors/blaquemagick.vim


!/scripts/
!/scripts/*


!README.md

!.Xmodmap

