! cursor
Xcursor.theme: smalldot

*color0: #3f3f3f
*color1: #705050
*color2: #60b48a
*color3: #dfaf8f
*color4: #506070
*color5: #dc8cc3
*color6: #8cd0d3
*color7: #dcdccc
*color8: #709080
*color9: #dca3a3
*color10: #c3bf9f
*color11: #f0dfaf
*color12: #94bff3
*color13: #ec93d3
*color14: #93e0e3
*color15: #ffffff

!!st.font: hack-39
!!font: hack-39
st.font: Hack-12
st.alpha: 0.9
st.alphaUnfocussed: 0.4




URxvt.depth: 32
urxvt.background:  [70]#000000
urxvt.foreground:  #FaFbFc
!! urxvt.font:  xft:terminus:size=12
urxvt.scrollBar: false
urxvt.scrollBar_right: false
urxvt.scrollBar_floating: false
urxvt.letterSpace: -2
!! urxvt.letterSpace: -7



urxtv.perl-ext-common: default, matcher, resize-font, url-select, keyboard-select



URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
